    body {
              background-color:#FFFFFF ;
              font-family:  Arial, sans-serif 1em; 
              margin: 0; 
              padding:0; 
              
              
       }

    #content {
            border: 1px solid black;

            text-align:right;
            width: 995px ;
            margin-top:10px;
            margin-left: auto ;
            margin-right: auto ;
       }

    #content > #logo {
        background-color: #E0D889;
        float:right;
        width: 380px;
    }

    #content > #search{
        background-color: #E0D889;
        float:left;
        width: 210px;
    }
    
    #content > #menu {
        border: 1px solid black;

        background-color: #E0D889;
        width: 995px ;
        margin-right:10px;
        margin-top:10px;
     }
     
     #content >#menu > .links:first-child {
        border:1px solid black;
        
        width:715px;
        float:left;
     }
     
     #content > #main {

        background-color: #E0D889;
        margin:1em auto; 
        padding:1em; 
        position:relative
     }
    
    
     #content > #main >   span {
        display:block;
        position:absolute; 
        width:10px; 
        height:10px; 
        background-image:url(images/corners.png)    
    }
    
     #content > #main > .top-right {                 
          top:-1px;
          right:-1px;
          background-position:100% 0;
    }

     #content > #main > .top-left {                  
        top:-1px;
        left:-1px;
    }

     #content > #main > .bot-right {                 
      bottom:-1px;
      right:-1px;
      background-position:100% 100%;
    }

     #content > #main > .bot-left {                  
        bottom:-1px;
        left:-1px;
        background-position:0 100%;
     }
         
    * html .top-right {
        right: expression( this.parentNode && this.parentNode.offsetWidth % 2 ? -2 : -1 );
    }

    #content >#footer {
        background-color: #E0D889;
        margin-top: 20px;
    }
    