    body {
              background-color:#FFFFFF ;
              font-family:  Arial, sans-serif 1em; 
              margin: 0; 
              padding:0; 
              
              
       }

    #content {
            border: 1px solid black;

            text-align:right;
            width: 995px ;
            margin-top:10px;
            margin-left: auto ;
            margin-right: auto ;
       }

    #content > #logo {
        border: 1px solid black;

        float:right;
        width: 380px;
    }

    #content > #search{
        border: 1px solid black;
        
        float:left;
        width: 210px;
    }
    
    #content > #menu {
        border: 1px solid black;

        width: 995px ;
        margin-right:10px;
        margin-top:10px;
     }
     
     #content >#menu > .links:first-child {
        border:1px solid black;
        
        width:715px;
        float:left;
     }
     
     #content > #main {
        border:1px solid black;
        
         border-radius: 10px;
         -moz-border-radius: 10px ;
         -webkit-border-radius: 10px ;

        margin-top: 20px;
     }
    
    #content >#footer {
        border:1px solid black;
        

        margin-top: 20px;
        
    }
    