    body {
              background-color:#FFFFFF ;
              font-family:  Arial, sans-serif 1em; 
              margin: 0; 
              padding:0; 
              
              
       }

    #content {
            text-align:right;
            width: 1010px ;
            margin-top:10px;
            margin-left: auto ;
            margin-right: auto ;
       }

    #content > #logo {
        background-image: url(images/logo.png);
        background-repeat: no-repeat;
        float:right;
        width: 328px;
        height:79px;
    }

    #content > #search{
        background-image: url(images/search/search.png);
        background-repeat: no-repeat;
        float:left;
        width: 226px;
        height: 58px;
    }
    
    #content > #search > .button {
        float: left;
        padding-top: 25px;
    }
    
    #content > #search >.search-text {
        float:left;
        margin-top: 35px;
        background-color: #EDE4AF;
        }

    #content > #search > .search-text-about {
        float:left;
        margin-top: 35px;
        }

    
    
    #content > #menu {
        width: 995px ;
        margin-top:10px;
     }
     
     #content >#menu > .links:first-child {
        width:715px;
        float:left;
     }
     
     #content > #menu > .links > .link1 {
        float: left;
        height:31px;
        width:117px;
     }
          #content > #menu > .links > .link2 {
        float: left;
        height:31px;
        width:117px;
        background-image: url(images/link2.png);
        background-repeat: no-repeat;
     }

          #content > #menu > .links > .link3 {
        float: left;
        height:31px;
        width:116px;
        background-image: url(images/link3.png);
        background-repeat: no-repeat;
     }

          #content > #menu > .links > .link4 {
        float: left;
        height:31px;
        width:120px;
        background-image: url(images/link4.png);
        background-repeat: no-repeat;
     }

          #content > #menu > .links > .link5 {
        float: left;
        height:31px;
        width:118px;
        background-image: url(images/link5.png);
        background-repeat: no-repeat;
     }

          #content > #menu > .links > .link6 {
        float: left;
        height:31px;
        width:117px;
        background-image: url(images/link6.png);
        background-repeat: no-repeat;
     }

     
     #content > #menu > .menu_under {
        width: 995px;
        height: 23px;
        background-image: url(images/menu_under.png);
        background-repeat: no-repeat;
     }

     
     #content > #main {
        margin-top:20px;
        background:  #E0D889 url(images/background.jpg) no-repeat;
        position:relative;
        height:1630px;
     }
     
     #content > #main > #video1:first-child{
        float: left;
        margin: 40px 20px 0 30px;
     }
    
    #content > #main > .turn1{
        float:right;
        width: 232px;
        height:200px;
    }

    #content > #main > .turn1 > .button{
        position:relative;
        top:25px;
        right:20px;
        float:left;
    }
    
    #content > #main > .turn1 > .user{
        position: relative;
        top: 30px;
        right:15px;
        float:right;
    }

#content > #main > .turn1 >  .turn1-text{
        position:relative;
        top:60px;
        padding-right:10px;
    }



    #content > #main > .turn2{
        margin: 30px 0 0 0;
        float:right;
        width: 227px;
        height:232px;
        text-align: center;
    }

    #content > #main > .turn2 > .text{
        margin-top:0.3em;
        color:white;
        
    }


    #content > #main > .turn3{
        float:right;
        width: 227px;
        height:232px;

    }

    #content > #main > .turn3 > .header{
        text-align:center;
        color: #FEFEFE;
        margin-top:0.3em;
        
    }

    #content > #main > .turn3 > .subheader{
        text-align:center;
        color: black;
        font-size: small;
        font-weight: bold;
    }
    
    #content > #main > .turn3 > table {
        text-align: center;
    }
    .rd3 {
        margin: 0 100px 0 0;
    }
    
    #content > #main > .turn3 > .question2 {
        margin: 0 15px 0 0 ;
    }
    
    #content > #main > .turn3 > .text1  {
        border: 0;
        padding-left:10px;

    }

    #content > #main > .turn3 > .textarea1  {
        background: #EDE4AF;
        height:55px;
        width:180px;
        margin:5px 10px 0 0;
        overflow: hidden
        
    }

    #content > #main > .turn3 > table .text1 >table .subheader2 {
        font-weight: bold;
        
    }
    
    


    #content > #main > .text-boxes{
        position:relative;
        top:-30px;
        left: 20px;
        height: 512px;
        width:620px;
        background: url(images/text-boxes.png) no-repeat;
        margin: 0 0 0 10px;
        float:left;
    }
    
    #content > #main > #video2 {
        height: 420px;
        width: 640px;
        position:relative;
        top:-30px;
        left: 40px;
        background: url(images/video2.png) no-repeat;
        float:left;
    }
    
    #content > #main > .low-right {
        height: 912px;
        width: 319px;
        float:right;
        margin: 10px 10px 0 0;
    }


    #content > #main > .low-right > .input2{
        float:right;
        background-color: #EDE4AF;
        width:160px;
        margin: 5px -2px 0 0;
        
        
    }

    #content > #main > .low-right > .blue-text {
        margin: 50px 0 0 50px ;
        padding: 10px 10px 0 0;
        background: #A8C4C7 url(images/low-right/bluebox.jpg) no-repeat;
        width: 250px;
        height: 165px;
    }

    #content > #main > .low-right > .facebook {
        background: #D0C98F url(images/low-right/facebook-background.jpg) no-repeat;
        text-align:center;
        height: 65px;
        width: 247px;
        margin: 40px 40px 0 50px;
        padding: 110px 0 0 0;
    
    }

    
    #content > #main > .low-right > .facebook > .input2{
        width:160px;
    }
 
    #content > #main > .low-right > .facebook-button{
        margin: 10px 0 0 40px;
        float:left;
    }
 




     #content > #main >   span {
        display:block;
        position:absolute; 
        width:10px; 
        height:10px; 
    }
    
         

    #content >#footer {
        background-image: url(images/footer.png);
        background-repeat: no-repeat;
        margin-top: 10px;
        height:47px;
        width:995px;
    }

    #content >#footer > .links {
        float:left;
        margin-top: 25px;
    }

    #content >#footer > .links > .link1{
        float:left;
        color:blue;
    }

    #content >#footer > .writing {
        float: right;
        color:#595124 ;
        margin-top: 27px;
        margin-right: 70px;
        font-weight: bold;
    }        
    