    body {
              background-color:#FFFFFF ;
              font-family:  Arial, sans-serif 1em; 
              margin: 0; 
              padding:0; 
              
              
       }

    #content {
            border-radius: 10px;
            -moz-border-radius: 10px ;
            -webkit-border-radius: 10px ;
            text-align:right;
            width: 995px ;
            margin-top:10px;
            margin-left: auto ;
            margin-right: auto ;
            padding:10px;
       }
    #content > .top-right:first-child{
        border: 1px solid black;

        float:right;
        width: 380px;
        padding: 5px;
        margin:5px;
    }

    #content > .top-left{
        border: 1px solid black;

        
        text-align:left;
        width: 210px;
    }
    
    #content > .menu{
        width:980px;

        background-color:black;
        text-align:right;
        margin-top:20px;
        margin-bottom:10px;
    }
    
    #content > .menu > .top-left-buttons:first-child{
        border: 1px solid black;
        text-align: left;
        width: 715px;
        float: left;
    }
    
    #content > .menu > .menu-line{
        border: 1px solid black;
        float: left;
        width:980px;
    }
    
    #content > #main-content {
        border: 1px solid black;
        width:980px;
        margin-top: 80px;
        padding: 10px;
        
    }
    
    #content > #bottom {
        border: 1px solid black;
        width:980px;
        margin-top:30px;
        
    }
    