/* ///////////////////////////////////////////// 
Main css file
///////////////////////////////////////////// */
/* 
    CLEANING BEGIN
*/
    html,body {
        margin: 0;
        padding: 0;
        font-weight: inherit;
        font-style:inherit;
        font-size:100%;
        font-family: inherit;
        vertical-align: inherit;
        border-left: inherit;
    }
    
    div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    }
    
    body {
            line-height: 1;
            color: black;
            background: white;
        }
    
    ol, ul {
        list-style: none;
    }
    
    table {
        border-collapse: separate;
        border-spacing: 0;
    }
    
    caption, th, td {
        text-align: left;
        font-weight: normal;
    }
/* 
    CLEANING END
*/

body {
    background: white;/* of the body */
    color: black; /* of the text in the body*/
    font-family:  Arial, Verdana, Helvetica, sans-serif; /* fonts to be used*/
    font-size: 16px; /* size of font - em is the standart set for the browser of the user */
    margin: 0; /* Margin from all sides*/
    padding:0; /* padding set to 0 */
    
}

#content{
    width: 798px;
    padding: 10px;
    margin: 0px auto; /* centering the content */
}

#control_panel{
    float:right;
    width:300px;
    height:31px;
}

#control_panel>.action{
    height:25px;
    width: 25px;
}

