/* ///////////////////////////////////////////// 
Main css file
///////////////////////////////////////////// */
/* 
    CLEANING BEGIN
*/
    html,body {
        margin: 0;
        padding: 0;
        font-weight: inherit;
        font-style:inherit;
        font-size:100%;
        font-family: inherit;
        vertical-align: inherit;
        border-left: inherit;
    }
    
    div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    }
    
    body {
            line-height: 1;
            color: black;
            background: white;
        }
    
    ol, ul {
        list-style: none;
    }
    
    table {
        border-collapse: separate;
        border-spacing: 0;
    }
    
    caption, th, td {
        text-align: left;
        font-weight: normal;
    }
/* 
    CLEANING END
*/

body {
    background: white;/* of the body */
    color: black; /* of the text in the body*/
    font-family:  Arial, Verdana, Helvetica, sans-serif; /* fonts to be used*/
    font-size: 16px; /* size of font - em is the standart set for the browser of the user */
    margin: 0; /* Margin from all sides*/
    padding:0; /* padding set to 0 */
    
}
/*
the output div
*/
#content{
    width: 798px;
    padding: 10px;
    margin: 0px auto; /* centering the content */
}


/*
grid & the hall model
*/
#grid {
    height:500px;
    width:550px;
    overflow:scroll; 
    border:1px solid;
    padding: 5px;
}
#grid > #table {
    border: solid black 1px;
    
}
#table tr {
    border: solid black 1px;
}

#table td {
    border: solid black 1px;
    text-align: center;
    width: 65px;
    height: 65px;
}

#table td img {
    height: 54px;
    width: 61px;
}
/* 
arrows
*/
#main #up_arrow{
    width:50%;text-align:center;position: relative;left:150px;margin-bottom:15px;    
}
#main #letf_arrow{
    width:42px; 
    height:75px; 
}
#main #left_arrow img {
    float: left;position:relative;top:155px; left:-20px;
}

#main #right_arrow {
    position:relative; left:620px; top: -350px;
}
#main #down_arrow {
    width:80%;text-align:center;
}
#main #down_arrow img {
    position:relative; top:-80px;left:40px;
}

/*
Toolbar
*/
#main #control_panel{
    float:left;
    height:31px;
}
#main #control_panel > .select,
#main #control_panel > .add,
#main  #control_panel > .remove
{
    float:left;
    height:25px;
    width: 25px;
}


