/* ///////////////////////////////////////////// 
Main css file
///////////////////////////////////////////// */
/* 
    CLEANING BEGIN
*/
    html,body {
        margin: 0;
        padding: 0;
        font-weight: inherit;
        font-style:inherit;
        font-size:100%;
        font-family: inherit;
        vertical-align: inherit;
        border-left: inherit;
    }
    
    div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    }
    
    body {
            line-height: 1;
            color: black;
            background: white;
        }
    
    ol, ul {
        list-style: none;
    }
    
    table {
        border-collapse: separate;
        border-spacing: 0;
    }
    
    caption, th, td {
        text-align: left;
        font-weight: normal;
    }
/* 
    CLEANING END
*/

body {
    background: white;/* of the body */
    color: black; /* of the text in the body*/
    font-family:  Arial, Verdana, Helvetica, sans-serif; /* fonts to be used*/
    font-size: 16px; /* size of font - em is the standart set for the browser of the user */
    margin: 0; /* Margin from all sides*/
    padding:0; /* padding set to 0 */
    
}
/*
the output div
*/
#content{
    width: 998px;
    padding: 10px;
    margin: 0px auto; /* centering the content */
}


/*
grid & the hall model
*/
#grid {
    height:800px;
    width:950px;
    overflow:scroll; 
    border:1px solid;
    padding: 5px;
}
#grid > #table {
    border: solid black 1px;
    
}
#table tr {
    border: solid black 1px;
}

#table td {
    border: solid black 1px;
    text-align: center;
    width: 66px;
    height: 58px;
}

#table td img {
    width: 66px;
    height: 58px;
}
/* 
arrows
*/
#main #up_arrow{
    width:50%;
    text-align:center;
    position: relative;
    left:150px;
    top: 90px;
    margin-bottom:15px;    
}
#main #letf_arrow{
    width:42px; 
    height:75px; 
}
#main #left_arrow img {
    float: left;
    position:relative;
    top:355px; 
    left:-60px;
}

#main #right_arrow {
    float: right;
    position:relative;
    left:30px;
    top: -530px;
}
#main #down_arrow {
    width:80%;
    text-align:center;
}


/*
Toolbar
*/
#main #control_panel{
    float:left;
    height:31px;
}
#main #control_panel > .select,
#main #control_panel > .add,
#main  #control_panel > .remove,
#main  #control_panel > .info
{
    float:left;
    height:25px;
    width: 25px;
}

#main  #control_panel td {
    padding: 10px 5px 0 5px;
    
}
/*
info window
*/

   
#mask {
  position:absolute;
  z-index:9000;
  display:none;
}
#boxes .window {
    text-align:center;
  position:absolute;
  width:450px;
  height:150px;
  display:none;
  z-index:9999;
  padding:20px 20px 0px 20px;
  background: white;
  border: 1px black solid;

}
#boxes #dialog {
  width:200px;
  height:150px;
}
#boxes #dialog p {
        margin: 15px 0 15px 0 ;
        font-weight: bolder;
}
#boxes #dialog .save,
#boxes #dialog .cancel
{
            float:right;
            position:relative;
            top: -10px;
}
#boxes #edit_categories{
    float:right;
    position:relative;
    top: 40px;
    left:-105px;
    display:none;
}
/* edit categories */
 #boxes #window_edit_categories {
  text-align:center;
  position:absolute;
  width:550px;
  z-index:9999;
  display:none;
  padding:10px 10px 10px 10px;
  background: white;
  border: 1px black solid;

}
#boxes > #window_edit_categories >#window_list_categories
{
    margin: 30px 0 30px 0 ;
}

#boxes > #window_edit_categories >#window_list_categories >ul >li
{
    margin:5px 0 5px 0;
    font: 1.1em bold;
}


#boxes #window_edit_categories a {
    margin: 5px;
}

/* Add category*/
#boxes  #add_category {
  text-align:center;
  position:absolute;
  width:350px;
  z-index:9999;
  border: 1px black solid;
  display: none;
  padding:5px 5px 5px 5px;
  background: white;
}

#boxes  #add_category input,
#boxes  #add_category select,
#boxes  #add_category a{
    margin:5px;
}

/* Edit category */
#boxes #edit_category_window{
  text-align:center;
  position:absolute;
  width:350px;
  z-index:9999;
  border: 1px black solid;
  display: none;
  padding:5px 5px 5px 5px;
  background: white;
}
    
#boxes  #edit_category_window input,
#boxes  #edit_category_window select,
#boxes  #edit_category_window a{
    margin:5px;
}


/* drop down box for choosing seat category */
#div_dropdown_category {
    float:right;
    width:200px;
}

#div_dropdown_category #dropdown_category {
    width:200px;
}

#div_dropdown_category a#edit_categories {
    margin:20px 0 20px 0;
    float:right;
}